<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.flrt.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flrt</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photos to automatically fetch screenshots for processing with our keyboard.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to add processed results to your photo library.</string>
	<key>OPENAI_API_KEY</key>
	<string>YOUR_API_KEY_HERE</string>
</dict>
</plist>

